<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <form action="/uesr/commect" id="create-comment" method="post">
        <input type="text" name="username" >
        <br><br>
        <input type="text" name="commect">
        <br><br>
        <input type="submit">
    </form>
    <script src="/js/user_profile.js"></script>
</body>
</html>